/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
}

/* CSS variables for color values */
:root {
  --bg-light-green: #000000; /* color for main nav */
  --bg-green-yellow: #ffffff; /* color for (description and image (tittled)) nav. */
  --b-dark-yellow: #ffffff; /* color for border */
  --b-light-yellow: #000000; /* color for new wrapper div */
}

/* Navigation bar styles */
.nav-bar {
  width: 100%;
  height: 60px;
  justify-content: center;
  background-color: var(--bg-light-green);
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border-bottom: solid 2px #000000;
  color: white;
}

.d-flex {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Button styles */
button {
  align-items: center;
  margin: 350px 600px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 44px;
  padding: 13px 14px 12px 15px;
  background: #d5d5d5;
  border: 0;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: radial-gradient(
      105.07% 105.07% at 17.04% 0%,
      rgba(0, 186, 226, 0.88) 0.67%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      97.83% 97.83% at 77.8% 100%,
      rgba(0, 77, 226, 0.88) 0.67%,
      rgba(0, 0, 0, 0) 100%
    );
}

/* Main container for student sections */
.students {
  display: flex;
  gap: 10px;
  height: auto;
  width: 100%;
  background-color: #ebebeb;
}

/* Styles for the enroll-student section */
.enroll-student {
  margin-top: 30px;
  padding-right: 100px;
  box-sizing: border-box;
  width: 45%;
  height: auto;
}

/* Styles for the enrolled-students section */
#enrolled-students {
  margin-top: 25px;
  margin-bottom: 15px;
  justify-content: center;
  width: 55%;
  height: calc(100vh - 70px);
  overflow: scroll;
}

/* Styles for the enroll-heading section */
.enroll-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styles for the gender section */
.gender {
  padding-left: 15px;
}

/* Styles for labels */
.label {
  display: flex;
  font-size: 30px;
}

/* Styles for form inputs */
.form-control {
  margin-bottom: 16px;
}

/* Styles for the separation border */
.seperation-border {
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px var(--bg-light-green);
  width: 1.3px;
  height: 70vh;
  background: var(--bg-light-green);
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  hr.seperation-border {
    height: 0;
  }
}

/* Styles for section headings */
.sectionHeading {
  display: flex;
  align-items: center;
  background-color: var(--bg-green-yellow);
  color: #000000;
  box-sizing: border-box;
  border: solid 2px #d2d2d2;
}

.sectionHeading > p {
  padding: 10px 12px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

/* Styles for the description section */
.description {
  box-sizing: border-box;
  border-right: solid 2px var(--b-dark-yellow);
  margin-bottom: 0;
  width: 70%;
}

/* Styles for the image section */
.Image {
  margin-bottom: 0;
  width: 30%;
}

/* Styles for the infoText section */
.infoText {
  margin: 0;
  padding: 0;
}

/* Styles for the userName class */
.userName {
  font-weight: bold;
}

/* Styles for the wrapper section */
.wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  justify-content: space-between;
  border: solid 2px var(--b-dark-yellow);
  border-top: none;
  animation: fadeIn 2s;
  position: relative;
}

/* Styles for the userDeleteBtn section */
.userDeleteBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background-color: transparent;
  font-size: 25px;
  transform: rotate(45deg);
  display: none;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  button.userDeleteBtn {
    display: block;
  }
}

/* Show userDeleteBtn on wrapper hover */
.wrapper:hover .userDeleteBtn {
  display: block;
}

/* Styles for odd-numbered wrapper sections */
.wrapper:nth-child(odd) {
  background-color: #ffffff;
}

/* Styles for even-numbered wrapper sections */
.wrapper:nth-child(even) {
  background-color: var(--b-light-yellow);
}

/* Styles for textInfoContainer section */
.textInfoContainer {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  border-right: solid 2px var(--b-dark-yellow);
  padding: 10px;
}

/* Styles for imageContainer section */
.imageContainer {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

/* Styles for userImage section */
.userImage {
  height: auto;
  width: 105px;
}

/* Animation for fade-in effect */
.fadeIn {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
